body {
  background-color: var(--primary-color);
  color: var(--text-color);
  min-height: 100vh;
}

header {
  position: relative;
  margin-top: 50px;
  padding: 100px 0 300px;
  background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite alternate;
}

/* Posicionando o footer no final da página */
footer {
  max-width: 1200px;
  margin: auto;
  padding: 24px;
  text-align: center;
  position: fixed;
  bottom: 0;
}
